<%inherit file="base.html" />
<%!
    import lazylibrarian
    from lazylibrarian.config2 import CONFIG
%>
<%def name="headerIncludes()">
  <div id="subhead_container">
    <div id="subhead_menu">
      %if perm&lazylibrarian.perm_force:
        <a href="force_search?source=magazines&title=${title | u}" class="button btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</a>
        <a href="force_process?source=magazines" class="button btn btn-sm btn-primary"><i class="fa fa-cogs"></i> Run Post-Processor</a>
        <a href="magazine_scan?title=${title | u}" class="button btn btn-sm btn-primary"><i class="fa fa-bolt"></i> Library Scan</a>
        <a href="import_issues?title=${title | u}" class="button btn btn-sm btn-primary"><i class="fa fa-bolt"></i> Import Issues</a>
        <a href="past_issues?mag=${title | u}" class="button btn btn-sm btn-primary"><i class="fa fa-calendar-alt"></i> Past Issues</a>
      %endif
      <a href="mag_wall?title=${title | u}" class="button btn btn-sm btn-primary"><i class="fa fa-calendar-check"></i> Recent Issues</a>
      %if CONFIG['USER_ACCOUNTS']:
        %if CONFIG['RSS_ENABLED']:
           <a href="rss_feed?user=${user}&type=Magazine&onetitle=${title | u}&limit=10.xml" class="button btn btn-sm btn-primary" data-toggle="tooltip" title="rss feed of ${title} recent issues"><i class="fa fa-rss"></i></a>
           <link rel="alternate" type="application/rss+xml" title="${title} latest issues" href="rss_feed?user=${user}&type=Magazine&onetitle=${title | u}&limit=10.xml">
         %endif
       %endif
    </div>
  </div>
</%def>

<%def name="body()">
  <h1>${title}</h1>
    %if lazylibrarian.MAG_UPDATE == True:
    <p>
    <button onclick="" id="myAlert" title=""><i class="fa fa-circle-notch fa-spin"></i> Libraryscan in progress ...</button>
    </p>
    %endif
    <form name="mark_issues" id="mark_issues" action="mark_issues" method="get" class="form-inline" onsubmit="return false;">
      <div class="form-group">
        <label for="action" class="control-label">Selected issues:</label>
        <select name="action" id="action" class="form-control input-sm">
          <option value="Remove" selected>Remove</option>
          <option value="Delete">Delete</option>
        <option value="coverswap">Swap Pages 1/2</option>
        <option value="reCover1">Cover from Page 1</option>
        <option value="reCover2">Cover from Page 2</option>
        </select>
        <button type="submit" class=" btn btn-m btn-primary" onclick="validateForm()">Go</button>
        %if CONFIG['TOGGLES']:
        &nbsp;&nbsp;Toggle: <a class="toggle-vis" data-column="1"> Cover</a>
        <a class="toggle-vis" data-column="2"> Issue</a>
        <a class="toggle-vis" data-column="3"> Added</a>
        <a class="toggle-vis" data-column="4"> Select</a>
        %endif
      </div>
      <p>&nbsp;</p>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" id="book_table">
        <thead>
        <tr>
          %if perm&lazylibrarian.perm_status:
            <th class="select text-center no-sort"><input type="checkbox" onClick="toggleAll(this)" /></th>
          %else:
            <th class="hidden"></th>
          %endif
          % if covercount > 0:
            <th class="bookart text-center no-sort" width=20%>Cover</th>
          % else:
            <th class="bookart hidden">Cover</th>
          % endif
            <th class="issuedate text-center">Issue</th>
            <th class="lastacquired text-center">Added</th>
            <th class="issue text-center">Select</th>
        </tr>
        </thead>
        </table>
      </div>
    </form>
  </%def>

<%def name="javascriptIncludes()">
  <script type="text/javascript">
    nmsg = ''
    %if response:
      nmsg = '<div class="input-group"><br>${response}<br><br></div>'
    %endif

    $(document).ready(function()
    {
        if (nmsg != '') {
          $.notify({
              icon: "images/ll48.png",
              title: '<strong>Issue Update</strong>',
              message: nmsg
          },{
              icon_type: 'image',
              type: 'info',
              delay: 5000
            });
        }

        var selected = [];
        var intjob = 0;

        var table = $('#book_table').DataTable(
            {
                "bAutoWidth": false,
                "stateSave": true,
                "order": [[ 2, 'desc']],
                "rowId": 4,
                "columnDefs": [{ targets: 'no-sort', orderable: false },
                    { targets: [0],
                    'class': 'text-center',
                    'render': function(data, type, row) {
                        if ( $.inArray('U' + row[4], selected) !== -1 ) {
                            return '<input type="checkbox" id="U' + row[4] + '" name="' + row[4] + '" class="checkbox" checked=true />'; }
                        return '<input type="checkbox" id="U' + row[4] + '" name="' + row[4] + '" class="checkbox" />';} },
                    { targets: [1],
                        'class': 'text-center',
                        'render': function(data, type, row) {
                        return '<a href="' + data + '" target="_blank" rel="noreferrer"><img src="' + data + '" alt="Cover" class="bookcover-sm img-responsive"></a>';} },
                    { targets: [2, 3],
                        'class': 'text-center'},
                    { targets: [4],
                        'class': 'text-center',
                        'render': function(data, type, row) {
                        btn = '<a class="button green btn btn-xs btn-warning" href="open_mag?bookid=' + data +
                                '" target="_self"><i class="fa fa-book"></i> Open</a>'
                            %if len(email):
                                btn += '<a class="button green btn btn-xs btn-info" href="send_mag?bookid=' + data +
                                    '" target="_self">Send</a>'
                            %endif
                        return btn;} },
                ],
                "oLanguage": {
                    "sSearch": "Filter: ",
                    "sLengthMenu":"Show _MENU_ issues per page",
                    "sEmptyTable": "No issues found",
                    "sInfo":"Showing _START_ to _END_ of _TOTAL_ results",
                    "sInfoEmpty":"Showing 0 to 0 of 0 issues",
                    "sInfoFiltered":"(filtered from _MAX_ total issues)"},
                "sPaginationType": "full_numbers",
                "aaSorting": [[2, 'desc']],
                "bServerSide": true,
                "sAjaxSource": 'get_issues?title=${title | u}',
                "aLengthMenu": [[5, 10, 15, 25, 50, 100, -1], [5, 10, 15, 25, 50, 100, "All"]],
                "iDisplayLength": ${CONFIG['DISPLAYLENGTH']},
                "bFilter": true,
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    %if perm&lazylibrarian.perm_status == 0:
                        $('td', nRow).eq(0).addClass("hidden");
                    %endif
                    return nRow;
                },
            });

          $('#book_table tbody').on('click', 'tr input:checkbox', function () {
              var id = this.id;
              var index = $.inArray(id, selected);
              if ( index === -1 ) {
                  selected.push( id );
              } else {
                  selected.splice( index, 1 );
              }
              $(this).toggleClass('selected');
          } );

            table.on( 'xhr', function () {
              var json = table.ajax.json();
              if (json.loading) {
                if (intjob === 0) {
                  intjob = setInterval( function () {
                    table.ajax.reload( null, false );
                    }, 10000 );
                }
              }
              else {
                if (intjob != 0) { clearInterval( intjob)};
                $('#myAlert').addClass('hidden');
              };
            });

            var page = oTable.page();
            if ( page != '0' ) {
                if (${firstpage}) { oTable.page( 'first' ).draw( 'page' ); }
            }

            $('.dataTables_filter input').attr("placeholder", "Results filter");
            $('a.toggle-vis').click(function (e) {
                e.preventDefault();
                var column = table.column( $(this).attr('data-column') );
                column.visible( ! column.visible() );
            } );
    });

    function validateForm() {
        var x = document.forms["mark_issues"]["action"].value;
        var c = (document.querySelectorAll('input[class="checkbox"]:checked').length);
        if (c > 0 && x == "Delete") {
            if (c == 1) {msg = "Are you sure you want to permanently delete the selected issue?"}
            if (c > 1) {msg = "Are you sure you want to permanently delete the " + c + " selected issues?"}
            bootbox.confirm({
                message: msg,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) { document.getElementById("mark_issues").submit(); }
                }
            });
            return false;
        }
        else { document.getElementById("mark_issues").submit(); }
    }
  </script>
</%def>
