<%inherit file="base.html"/>
  <%def name="headIncludes()">
  </%def>
  <%def name="body()">
    <p>&nbsp;</p>
    <div id="shutdown" class="alert alert-info">
      <h1>${title}</h1>
      %if timer == 0:
        <h2>${prefix} ${message}</h2>
      %else:
        <h2><i class="fas fa-circle-notch fa-spin"></i>&nbsp;&nbsp;${prefix} ${message}</h2>
      %endif
      <h3 id="countdown">&nbsp;</h3>
    </div>
  </%def>
  <%def name="javascriptIncludes()">
    <script type="text/javascript">
     $(function(){
          var countdown = ${timer};
          if (countdown > 0) {
            setInterval(function() {
                  countdown--;
                  //$('#countdown').html('Refreshing in '+countdown+' seconds');
                  var img = document.body.appendChild(document.createElement("img"));
                  img.src = "cache/alive.png";
                  img.style.display = "none";
                  img.onload = function()
                  {
                    // If the server is up
                    window.location = 'index';
                  }
                  img.onerror = function()
                  {
                    // If the server is down
                    // $('#countdown').html('Refreshing in '+countdown+' seconds')
                  }
                  if (countdown <= 10) {
                    $('#countdown').html('Server is taking longer than expected to respond. Check the log.');
                    if (countdown <= 0) {
                      window.location = 'index';
                    }
                  }
            }, 1000);
          }
      });
    </script>
  </%def>
